.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.500rem;
}
.be-ix-link-block .be-related-link-container .be-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    .be-ix-link-block .be-related-link-container {
        display: flex;
        align-items: baseline;
    }
    .be-ix-link-block .be-related-link-container .be-label {
        display: inline-block;
        margin-right: 20px !important;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
.social-icons li a {
    padding: 0.250rem;
    border: 0.125rem solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border-radius: 0.250rem;
}
.social-icons li .social-icon__linkedin {
    width: 1.563rem;
}
.social-icons li .social-icon__facebook {
    width: 0.813rem;
}
.social-icons li .social-icon__instagram {
    width: 1.500rem;
}
.social-icons li .social-icon__youtube {
    width: 2.125rem;
}

.be-ix-link-block .be-related-link-container .be-label {
    margin: 0;
    line-height: 1em;
    font-variant-numeric: lining-nums;
}
.be-ix-link-block .be-related-link-container .be-list .be-list-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 18px;
}
.be-ix-link-block .be-related-link-container .be-label {
    margin: 0;
    line-height: 1em;
    font-variant-numeric: lining-nums;
}
.be-ix-link-block .be-related-link-container .be-list .be-list-item .be-related-link {
    font-family: "Roboto", sans-serif;
    font-size: 1.250rem;
    line-height: 1.563rem;
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #000;
    text-decoration: none;
}
.section-container {
    margin: 0 auto;
    max-width: 91.250rem;
    padding: 0 3.125rem;
}
.site-footer {
  background: #fff;
  border-top: 0.375rem solid #02b17c;
  padding: 3.438rem 0;
}
.site-footer .section-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.site-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (max-width: 48rem) {
  .site-footer__row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.site-footer__links {
  flex: 1;
}
.site-footer__links-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1.5rem 2.813rem;
}
@media screen and (max-width: 48rem) {
  .site-footer__links-list {
    flex-direction: column;
  }
}
.site-footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.563rem;
  font-weight: 900;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 81.875rem) {
  .site-footer__link {
    min-width: 10.938rem;
  }
}
.site-footer__link a {
  color: #000;
  text-decoration: none;
  padding: 0.25rem;
  border: 0.125rem solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
}
.site-footer__link a:hover {
  color: #00421b;
}
.site-footer__link a:focus-visible {
  outline: none;
  border-color: #d2f305;
  background-color: rgba(210, 243, 5, 0.4);
  box-shadow: -0.063rem 0.063rem 0.063rem rgba(0, 0, 0, 0.38);
}
.site-footer__logo-container img {
  width: 10.938rem;
  height: 4.987rem;
}
